<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/primera-consulta.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>

<header>

    <%- include('partials/header.ejs') %>

</header>

<main class="contenedorConsulta">

    <section class="titulosPrincipal">

        <h1>Estás a un click de transformar tu vida</h1>
        <p>Y aunque puede ser dificil, estoy con vos para hacerlo más simple.</p>
        
    </section>

    <section class="subtitulo">
        <h3>Consulta Individual</h3>

        <div class="chartPrecio">
            <p>$70.000</p>
            <p>50 minutos</p>
        </div>

    </section>

    <section class="session">
        <h5>Modalidad: On line por Google Meet</h5>

        <p>Este es el primer paso para comenzar tu propio camino de sanación, crecimiento y aprendizaje. </p>
        <p>Las sesiones individuales refieren a un espacio personalizado para trabajar temas específicos relacionados con la ansiedad, el estrés o cualquier desafío emocional. Cada sesión es una oportunidad para seguir avanzando, brindándote las herramientas necesarias para que continúes en tu proceso y objetivos. Este espacio es continuo, pero flexible, permitiéndote trabajar a tu propio ritmo.</p>

        <div class="vinietas">
            <ul>Incluye</ul>
            <li>Evaluación continua de tus objetivos emocionales</li>
            <li>Estrategias y herramientas adaptadas a tu evolución</li>
            <li>Planificación progresiva y personalizada </li>

            <p>Al agendar , estás de acuerdo con nuestras políticas de reserva:</p>

            <ul class="terminos">
                <li> Una vez realizada la reserva, no hay devoluciones.</li>
                <li>En caso de pago manual o por transferencia, se manejan 24 horas detolerancia. La sesión queda cancelada automáticamente si el monto no se paga.</li>
                <li> Recuerda ser puntual con la sesión, si bien nosotros te mandamos un recordatorio, es responsabilidad del paciente mantenerse al tanto de las sesiones. Los enlaces para ingresar a la reunión, se envían al correo electronico a nombre de Calendly</li>

            </ul>
        </div>
    </section>

    <section class="Rerservar">
        <a href="/reserva">Reserva Ahora</a>
    </section>


    <!-- FOOTER -->
    <footer class="main-footer">
        
        <%- include('partials/footer.ejs') %>

    </footer>

</main>

</body>
</html>