<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/primera-consulta.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>

<header>

    <%- include('partials/header.ejs') %>

</header>

<main class="contenedorConsulta">

    <section class="titulosPrincipal">

        <h1>Estás a un click de transformar tu vida</h1>
        <p>Y aunque puede ser dificil, estoy con vos para hacerlo más simple.</p>
        
    </section>

    <section class="subtitulo">
        <h3>Primer consulta</h3>

        <div class="chartPrecio">
            <p>$60.000</p>
            <p>45 minutos</p>
        </div>

    </section>

    <section class="session">
        <h5>Modalidad: On line por Google Meet</h5>

        <p>Un primer encuentro para conocernos y explorar tus necesidades. Hablaremos sobre el motivo de tu consulta y te explicaré cómo es mi abordaje de trabajo desde la Terapia Cognitivo-Conductual (TCC), el cual es un metodo comprobado cientificamente y eficaz para abordar una amplia variedad de problemas mentales. La TCC se centra en la conexion entre pensamientos, emociones y conductas, y su intencion es modificar patrones de pensamiento disfuncionales, por otros más adaptativos. </p>
        <p>Las sesiones individuales comienzan siendo de manera semanal y luego a medida que avances hacia los objetivos terapéuticos, iremos expasiando las semanas de manera quincenal, mensual, hasta tener el alta. </p>

        <div class="vinietas">
            <ul>Incluye</ul>
            <li>Evaluación inicial del motivo de consulta</li>
            <li>Explicación del enfoque terapéutico</li>
            <li>Modalidad: On line por Google Meet </li>

            <p>Al agendar , estás de acuerdo con nuestras políticas de reserva:</p>

            <ul class="terminos">
                <li> Una vez realizada la reserva, no hay devoluciones.</li>
                <li>En caso de pago manual o por transferencia, se manejan 24 horas detolerancia. La sesión queda cancelada automáticamente si el monto no se paga.</li>
                <li> Recuerda ser puntual con la sesión, si bien nosotros te mandamos un recordatorio, es responsabilidad del paciente mantenerse al tanto de las sesiones. Los enlaces para ingresar a la reunión, se envían al correo electronico a nombre de Calendly</li>

            </ul>
        </div>
    </section>

    <section class="Rerservar">
        <a href="/reserva">Reserva Ahora</a>
    </section>


    <!-- FOOTER -->
    <footer class="main-footer">
        
        <%- include('partials/footer.ejs') %>

    </footer>

</main>

</body>
</html>