<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/sesiones.css">
</head>

<body>
    <header>

        <%- include('partials/header.ejs') %>

    </header>

    <main class="contenedor">

        <div class="container">
            <div class="content">
                <h1>Momento de cambiar tu mindset</h1>
                <p>No tenés que hacerlo solo, tu lugar seguro para que construyas la vida que queres vivir. <br> Sesiones personalizadas desde cualquier parte del mundo</p>
                <a href="#" class="button">AGENDAR AHORA</a>
            </div>
            <div class="image">
                <img src="/images/laptop_img.jpg" alt="Imagen con laptop">
            </div>
        </div>
        
        
        <section class="personalizadas">

            <h2 class="titulo_cur">Sesiones Personalizadas</h2>

            <div class="texto_costado">
                <p>Logremos que tu camino hacia el cambio sea más simple y seguro.</p>

                <p><i class="fa-solid fa-check"></i> Modificar pensamientos negativos: Identificaremos las creencias que aumentan tu ansiedad y las reemplazaremos por perspectivas más equilibradas.</p>
                <p><i class="fa-solid fa-check"></i> Desarrollar habilidades de afrontamiento: Te enseñaré herramientas prácticas para que puedas manejar mejor el estrés y la ansiedad en tu día a día.</p>
                <p><i class="fa-solid fa-check"></i> Enfrentar los miedos gradualmente: A través de exposiciones controladas, reduciremos tu nivel de ansiedad frente a situaciones temidas.</p>
                <p><i class="fa-solid fa-check"></i> Fomentar el cambio positivo: Te acompaño en el proceso de tomar decisiones alineadas con tu bienestar, ayudándote a reducir la ansiedad a largo plazo y a construir un presente valioso.</p>

                <a href="/calendario">EMPEZAR AHORA</a>
            </div>

        </section>
        
        <section class="sessions-section">
            <h2 class="sessions-title">¿EN QUÉ CONSISTEN LAS SESIONES?</h2>
    
            <div class="sessions-grid">
                <div class="session-item">
                    <h3>SESIONES PERSONALIZADAS</h3>
                    <p>Cada paciente es único, por eso creo firmemente que cada sesión debe adecuarse a su proceso. En general, recomiendo comenzar con sesiones semanales de 50 minutos.</p>
                </div>

                <div class="session-item">
                    <h3>INDEPENDENCIA TERAPÉUTICA</h3>
                    <p>A medida que vayas cumpliendo los objetivos terapéuticos y empieces a formar tus propios recursos, podemos espaciar las sesiones cada 2 semanas, cada 4 semanas, hasta finalmente recibir el alta.</p>
                </div>

                <div class="session-item">
                    <h3>APOYO CONTINUO</h3>
                    <p>Sin embargo, quiero que sepas que siempre voy a estar a tu disposición cuando lo necesites, aún cuando tu tratamiento haya concluido.</p>
                </div>
            </div>
        </section>
        
        <section class="cards-container">
            <div class="card">
                <img src="/images/primera-consulta.jpg" alt="Primera Sesión" class="card-icon">
                <h3 class="card-title">Primera<br>Sesión</h3>
                <p class="card-description">Una sesión para conocernos</p>
                <a href="/primera-consulta" class="btn-conocer">Conocer más</a>
            </div>

            <div class="card">
                <img src="/images/consulta-individual.jpg" alt="Sesión Individual" class="card-icon">
                <h3 class="card-title">Sesión<br>Individual</h3>
                <p class="card-description">Sesiones personalizadas basadas en tus necesidades</p>
                <a href="/consulta-individual" class="btn-conocer">Conocer más</a>
            </div>

            <div class="card">
                <img src="/images/consulta-grupal.jpg" alt="Sesiones Grupales" class="card-icon">
                <h3 class="card-title">Sesiones<br>Grupales</h3>
                <p class="card-description">Espacios compartidos para crecer en grupo, con un 5% OFF</p>
                <a href="/consulta-grupal" class="btn-conocer">Conocer más</a>
            </div>
        </section>
        
        
        <footer class="main-footer">
            
            <%- include('partials/footer.ejs') %>
            
        </footer>
    </main>
</body>