<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('partials/head.ejs') %>
    <link rel="stylesheet" href="/css/sobre-mi.css">
    <link rel="stylesheet" href="/css/index.css">

</head>

<body>

<header>

    <%- include('partials/header.ejs') %>

</header>

<main class="contenedorSobre">

    <section class="principal">
        <p>Lic.Natalia Ferri</p>
        <h1>Tus pensamientos determinan la calidad de tu vida</h1>
        <p class="gris">Asegurate de que impulsen tu crecimiento y bienestar</p>

        <a href="/reservar">QUIERO EMPEZAR AHORA</a>
    </section>

    <section class="scrolling-text">
            <span>PISCO.MENTE - PISCO.MENTE - PISCO.MENTE - PISCO.MENTE</span>
    </section>

    <section class="sobre-mi">

        <div class="img"><img src="/images/sobre-mi.jpg"></div>

        <p>Sobre Mi</p>

        <h2>¡Un gusto conocerte!</h2>
        <h3>Me llamo Natalia Ferri</h3>

        <p>Durante mi adolescencia, atravesé episodios de ansiedad que me hacían sentir atrapada en mis propios pensamientos, alejándome de la vida que realmente quería. Fue en terapia donde encontré las herramientas para cuestionar mis creencias limitantes, enfrentar mis miedos y transformar la ansiedad en bienestar.</p>
        <p>Este proceso no solo cambió mi vida, sino que me inspiró a crear Psico Ebased, un espacio donde la salud mental es una prioridad y donde un equipo de psicólogos especializados acompaña a quienes buscan entenderse, crecer y vivir en calma.</p>
        <p>En un mundo que va demasiado rápido, creemos que es fundamental hacer una pausa. No se trata de eliminar la ansiedad o evitar el malestar, sino de aprender a atravesarlos con herramientas que te permitan construir una vida alineada con lo que realmente querés.</p>
        <p>Desde donde estés y sin juicios, estamos para ayudarte. Si sentís que este camino es para vos, queremos acompañarte. Nunca es tarde para vivir la vida que merecés.</p>
        
        <section class="principal">
            <a href="/calendario">EMPEZAR AHORA</a>
        </section>

    </section>

    <section class="banner-transformar">
        <div class="divider-line"></div>
        <h2 class="titulo-serif">¿Estás listo/a para <span>transformar</span> tu vida?</h2>
        <p class="texto-descripcion">
            A través de sesiones personalizadas, te acompaño a cuestionar tus pensamientos, gestionar tus emociones y a tomar decisiones para construir <strong>una vida más plena y significativa.</strong>
        </p>
    </section>

    <section class="mision-vision">
    <div class="mision-vision-item">
        <div class="icon-mision"><i class="fa-solid fa-eye"></i></div> <h2>Misión</h2>
        <p>Acompañarte en el proceso de entenderte mejor, gestionar tus emociones y atravesar los desafíos con herramientas basadas en evidencia, de manera simple.</p>
    </div>
    <div class="mision-vision-item">
        <div class="icon-vision"><i class="fa-solid fa-crosshairs"></i></div> <h2>Visión</h2>
        <p>En un mundo que va muy rápido, queremos que encuentres un lugar seguro y en calma. Creamos un espacio donde te sientas escuchado y te aporte herramientas para afrontar tus desafíos.</p>
    </div>
</section>

    <!-- FOOTER -->
    <footer class="main-footer">
        
        <%- include('partials/footer.ejs') %>

    </footer>

</main>

</body>
</html>