    <footer class="main-footer">

        <h4 class="titulo-licenciada">
            <%= nombre || "Lic. Natalia Ferri" %> | Psicóloga Clínica
        </h4>

        <section class="medios">
            <ul class="medios-comunicacion">

                <li class="mail">
                    <a href="mailto:lic.psicoebased@gmail.com">
                        <i class="fa-solid fa-at"></i>
                        <p>lic.psicoebased@gmail.com</p>
                    </a>
                </li>

                <li class="Agenda">
                    <i class="fa-solid fa-book"></i>
                    <p>Agenda Sesión</p>
                </li>

                <li class="telefono">
                    <i class="fa-solid fa-phone"></i>
                    <p>1144778877</p>
                </li>

            </ul>
        </section>

        <section class="redes">
            <div class="radio-bottom"><i class="fa-brands fa-square-whatsapp"></i></div>
            <div class="radio-bottom"><i class="fa-brands fa-square-instagram"></i></div>
        </section>

    </footer>
